<footer>
    Footer
    <a href="/">hem</a>
    <a href="/test">Test</a>
</footer>

<style>
@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');
footer {background-color:red;}
</style>